/* default component styles */
* {
    box-sizing: border-box;
}
html, body {
    font-family: var(--font-secondary);
    background-color: var(--clr-primary);
    color: var(--txt-clr-secondary);

    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: wheat;
}
body::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);
    border-radius: 100vw;
}

div{
    padding: 10px;
}

