/* default component styles */
* {
    box-sizing: border-box;
}
html, body {
    font-family: var(--font-secondary);
    background-color: var(--clr-primary);
    color: var(--txt-clr-secondary);
}
body::-webkit-scrollbar {
    width: 10px;
    transition: transform 0.2s ease;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);
    border-radius: 100vw;
}
body::-webkit-scrollbar:hover {
    transform: scale(1.5);
}
body::-webkit-scrollbar:active {
    transform: scale(1.5);
}

div{
    padding: 10px;
}

.text-xsm {
    font-size: var(--txt-xsm);
}
.text-sm {
    font-size: var(--txt-sm);
}
.text-md {
    font-size: var(--txt-md);
}
.text-lg {
    font-size: var(--txt-lg);
}
.text-xl {
    font-size: var(--txt-xl);
}

.txt-clr-primary {
    color: var(--txt-clr-primary);
}
.txt-clr-secondary {
    color: var(--txt-clr-secondary);
}  

.btn-xsm {
    max-width: 7em;
}
.btn-sm {
    max-width: 10em;
}
.btn-md {
    max-width: 15em;
}
.btn-lg {
    max-width: 20em;
}