@media (max-width: 480px) {

}

@media (max-width: 768px) {

    /* nav bar */
   .nav_item:nth-child(n) {
        display: none;
   }
   .trademark {
    display: block; /* Show trademark */
    flex: 1;
    text-align: start;
}

}

@media (max-width: 1024px) {

    /* navbar */
    .nav_item:nth-child(n+5) {
        display: none;
    }
    .menu_toggle {
        display: inline-flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }
    .nav_list.active {
        display: flex;
    }
    .trademark {
        display: block; /* Show trademark */
        flex: 1;
        text-align: center;
    }


    /* hero */
    .hero_container {
        background-size: contain;
    }
}

@media (max-width: 1200px) {
    /* Styles for large screens */
}

@media (max-width: 1440px) {
    /* Styles for extra large screens */
}