@media (max-width: 480px) {

}

@media (max-width: 768px) {

    /* nav bar */
   .nav_item:nth-child(n) {
        display: none;
   }
   .trademark {
    display: block; /* Show trademark */
    flex: 1;
    text-align: start;
    }

    /* hero */
    .hero_container .header_container {
        padding: 0;
    }
    .hero_container .header_container .text-content {
        row-gap: 3em;

        & .header {
            font-size: clamp(5vw, var(--txt-xl), 20vw);
        }

        & .subheader {
            display: none;
        }
    }

    /* appointment */

    .img_content {
        display: none;
    }

}

@media (max-width: 1024px) {

    /* navbar */
    .nav_item:nth-child(n+5) {
        display: none;
    }
    .menu_toggle {
        display: inline-flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
    }
    .nav_list.active {
        display: flex;
    }
    .trademark {
        display: block; /* Show trademark */
        flex: 1;
        text-align: center;
    }

    /* hero */
    .hero {
        padding: 0;
    }
    .hero_container img {
        object-fit: contain; 
    }
    .hero_container .header_container {
        align-items: center;
        justify-content: center;
    }
    .hero_container .header_container .text-content {
        align-items: center;

        & .header {
            text-align: center;
        }

        & .subheader {
            text-align: center;
        }
    }

}

@media (max-width: 1200px) {
    /* Styles for large screens */
}

@media (max-width: 1440px) {
    /* Styles for extra large screens */
}