.btn {
    text-decoration: none;
    padding: 0.10em 0.5em;
    font-size: var(--txt-sm);
    font-family: var(--font-primary);
    border-radius: var(--rad-xl);
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.btn-primary {
    background-color: transparent;
    border: 2px solid var(--clr-primary);

    color: var(--clr-primary);
}

.btn-secondary {
    background-color: var(--clr-secondary);
    
    color: var(--clr-primary);
}