.header_style {
    font-family: var(--font-primary);
    font-size: var(--txt-md);
    margin: 0;
    margin-bottom: 1em;
}

.text-primary {
    color: var(--txt-clr-primary);
}
.text-secondary {
    color: var(--txt-clr-secondary);
}  