.radio_btn_base {
    border: var(--clr-secondary) 2px solid;
    padding: 30px;
    border-radius: 30px;
    width: 100%;

    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px;

    & input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: var(--clr-secondary) 2px solid;
        background-color: wheat;
        cursor: pointer;
    }

    & input[type="radio"]:checked {
        background-color: var(--clr-secondary);
    }

    & .radio_btn {
        accent-color: var(--clr-secondary);
        font-size: var(--txt-md);
    }

    & .radio_btn + label {
        cursor: pointer;
    }

    & label {
        font-size: var(--txt-xsm);
        font-weight: 500;
    }
}
