.field {
   padding: 0;
   position: relative;
   height: 90px;
   line-height: 20px;
}

.textfield {
    position: absolute;
    color: var(--clr-secondary);
    width: 100%;
    outline: none;
    line-height: 50px;
    padding: 0 .80em;
    font-size: var(--txt-xsm);
    background: transparent;
    border: var(--clr-secondary) 3px solid;
    border-radius: .75em;
    transition: all 0.16s ease;
    z-index: 888;
}

.field_label {
    position: absolute;
    top: -20px;
    font-size: var(--txt-xsm);
    padding: 2px .25em;
    margin: 0 .70em;
    background-color: var(--clr-primary);
    transition: all 0.16s ease;
    pointer-events: none; 
    z-index: 889; 
}

.textfield:focus
{
    border: var(--clr-secondary) 4px solid;
    color: var(--clr-secondary);
}






