.field_label {
    padding-inline: 10px;
}
.field {
   width: 100%;

   padding: 0;

   border: var(--clr-secondary) 2px solid;
   border-radius: .75em;
}

.textfield {
    border: none;
    background-color: transparent;
    font-size: var(--txt-xsm);
    color: var(--clr-secondary);

    padding: 10px 10px;
    border-radius: .75em;

    width: 100%;
    height: 100%;

    transition: all .16s ease;
}
.textfield::placeholder {
    color: var(--clr-secondary);
}
.textfield:focus {
    outline: var(--clr-secondary) 5px solid;
}